<!-- ======= Hero Section ======= -->
{% extends 'home.html' %}

{% block content %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Your Lightning Fast Movie Reccomendation </h2>
          <p data-aos="fade-up" data-aos-delay="100">"Welcome to our movie website, where you can find the latest releases, timeless classics, and hidden gems from all around the world. Our easy-to-use interface allows you to browse by title with auto completion.</p>

          <form class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" method="POST" action="{% url 'result' %}">
            {% csrf_token %}
            <input type="text" class="form-control"  name="movie" id="taggs">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="50000" data-purecounter-duration="1" class="purecounter"></span>
                <p>Movies</p>
              </div>
            </div><!-- End Stats Item -->

            {% comment %} <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div><!-- End Stats Item --> {% endcomment %}

            {% comment %} <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                <p>Support</p>
              </div>
            </div><!-- End Stats Item --> {% endcomment %}

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="60" data-purecounter-duration="1" class="purecounter">'sec</span>
                <p>Quick</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->


  <!-- Vendor JS Files -->
  <script src=  
  "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
      </script>  
      
      <script src=  
  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
      </script>  
      
      <link href=  
  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css" />  
  <script>
    $( function() {
      var availableTags = [
          {% for title in titles %}
              "{{title}}",
          {% endfor %}
      ];
      $( "#taggs" ).autocomplete({
        source: availableTags
      });
    } );
  </script>

  {% endblock %}
